input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;

}
hr {
    width: 100%;
    border-block-color: #000000;
}

button {
    width: 100%;
    height: 30px;
}