p {
<<<<<<< HEAD
  color: #1d2225;
=======
>>>>>>> fc0e9d3ee210a5e00c32cf6fadbe05c06194829a
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

body {
<<<<<<< HEAD
    background-color: #727272;
=======
    background-color: #ceb35c;
    color: rgb(22, 22, 22);
}

/* =========================================================
This css is used for controlling dark mode, allowing the user to have more visual options*/
.Dark_Mode {
  background-color: #1d2225;
  color: aliceblue;
>>>>>>> fc0e9d3ee210a5e00c32cf6fadbe05c06194829a
}

/* =========================================================
Settings for the Navigation bar at the top and header at the top*/
  header {
    position: sticky; top: 0px;
    background-color: #bb5215;
  }
  h1 {
    color: #000000;
    font-size: 45px;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
  } 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }  
  li {
    float: left;
  }
  li a {
    display: block;
    color: #1d2225;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Merriweather', serif;
  }
  li a:hover {
    background-color: #aa4b14;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
  }
<<<<<<< HEAD
/* =========================================================
This section is for dark mode. The default shall be light
mode and can be changed by clicking a button */
  .Dark_Mode {
    background-color: #1d2225;
    
  }
=======

  /* =========================================================
>>>>>>> fc0e9d3ee210a5e00c32cf6fadbe05c06194829a
