p {
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

body {
    background-color: #ceb35c;
    color: rgb(22, 22, 22);
}

/* =========================================================
This css is used for controlling dark mode, allowing the user to have more visual options*/
.Dark_Mode {
  background-color: #1d2225;
  color: aliceblue;
}

/* =========================================================
Settings for the Navigation bar at the top and header at the top*/
header {
    position: sticky; top: 0px;
    background-color: #bb5215;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
  }
  
  h1 {
    color: #000000;
    font-size: 45px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  li a {
    display: block;
    color: #1d2225;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Merriweather', serif;
  }
  li a:hover {
    background-color: #aa4b14;
    font-family: 'Merriweather Sans', sans-serif;
  }

  /* =========================================================